{% extends 'PrestaShopBundle:Admin:layout.html.twig' %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col">
            {% include '@Modules/lkpcarrousel/views/templates/admin/form.html.twig' %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('../modules/lkpcarrousel/views/js/form.js') }}"></
        script>
{% endblock %}